.filterBody {
    background-image: url("../img/ej4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPageFilter {
    display: flex;
    justify-content: space-between;
}

.parentFilter {
    background-image: url("../img/blackFilter.jpg");
    width: 500px;
    height: 600px;
}

.filterHeader {
    display: inline;
    /* display: flex;
    justify-content: space-between; */
    width: 500px;
    height: 80px;
}

.filterTitleLeft {
    float: left;
    margin-left: 150px;
}

.filterTitleRight {
    float: right;
}

.filterName {
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}

.filterCancelButton {
    background-color: rgba(160, 158, 158, 0.144);
}

#filterIcon {
    font-size: 40px;
    color: white;
}

.filterBody {
    margin-top: 100px;
    width: 500px;
    height: 600px;
}

.fa-search {
    font-size: 20px;
}

.filterBodyText {
    color: #fff;
    font-size: 15px;
}

.parentHeaderMenuOfFilter {
    width: 100%;
    height: 50px;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
}

.fa-arrow-left {
    color: #4472c4;
    font-size: 40px;
    cursor: pointer;
}

.filterBurgerLinkHome {
    text-decoration: none !important;
    color: #232323;
    transition: color 0.3s ease;
}

.filterBurgerLinkHome:hover {
    color: #2ecc71;
}

#filterBurger {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#filterBurger .filterBurgerInput {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#filterBurger .filterBurgerSpan {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#filterBurger .filterBurgerSpan:first-child {
    transform-origin: 0% 0%;
}

#filterBurger .filterBurgerSpan:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#filterBurger .filterBurgerInput:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#filterBurger .filterBurgerInput:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#filterBurger .filterBurgerInput:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#filterBurgerLinkMenu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#filterBurgerLinkMenu .filterBurgerLinkMenuLi {
    padding: 10px 0;
    font-size: 22px;
}

#filterBurger .filterBurgerInput:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

.filterParentPageCards {
    display: grid;
    justify-content: center;
    align-content: center;
}

.filterPageCards {
    display: flex;
    gap: 70px;
    margin-top: 70px;
}

.filterPageCard {
    clip-path: polygon( 0% 5%, /* top left */
    5% 0%, /* top left */
    85% 0%, /* top right */
    100% 15%, /* top right */
    100% 95%, /* bottom right */
    100% 100%, /* bottom right */
    0% 100%, /* bottom left */
    0% 100%
    /* bottom left */
    );
    border-top-left-radius: 50px;
    background-color: #e4b96e;
    height: 450px;
    width: 300px;
}

.filterCardsImage {
    margin: 10px 0 0 20px;
    width: 250px;
    height: 200px;
}

.filterCardsImageline:before,
.filterCardsImageline:after {
    margin-top: 20px;
    margin-left: 25%;
    content: '';
    display: inline-block;
    width: 50%;
    height: 2px;
    background: #000;
    z-index: -1;
    position: relative;
    vertical-align: middle;
}

.filterCardsWords {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

.filterCardsUL {
    margin-left: 70px;
}