.filterBody {
    background-image: url("../img/ej4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mainPageFilter {
    display: flex;
    justify-content: space-between;
}

.parentFilter {
    background-image: url("../img/blackFilter.jpg");
    width: 500px;
    height: 600px;
}

.filterHeader {
    display: inline;
    /* display: flex;
    justify-content: space-between; */
    width: 500px;
    height: 80px;
}

.filterTitleLeft {
    float: left;
    margin-left: 150px;
}

.filterTitleRight {
    float: right;
}

.filterName {
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}

.filterCancelButton {
    background-color: rgba(160, 158, 158, 0.144);
}

#filterIcon {
    font-size: 40px;
    color: white;
}

.filterBody {
    margin-top: 100px;
    width: 500px;
    height: 600px;
}

.fa-search {
    font-size: 20px;
}

.filterBodyText {
    color: #fff;
    font-size: 15px;
}

.parentHeaderMenuOfFilter {
    width: 100%;
    height: 50px;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
}

.fa-arrow-left {
    color: #4472c4;
    font-size: 40px;
    cursor: pointer;
}

.fa-bars {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

.filterParentPageCards {
    display: grid;
    justify-content: center;
    align-content: center;
}

.filterPageCards {
    display: flex;
    gap: 70px;
    margin-top: 70px;
}

.filterPageCard {
    clip-path: polygon( 0% 5%, /* top left */
    5% 0%, /* top left */
    85% 0%, /* top right */
    100% 15%, /* top right */
    100% 95%, /* bottom right */
    100% 100%, /* bottom right */
    0% 100%, /* bottom left */
    0% 100%
    /* bottom left */
    );
    border-top-left-radius: 50px;
    background-color: #e4b96e;
    height: 450px;
    width: 300px;
}

.filterCardsImage {
    margin: 10px 0 0 20px;
    width: 250px;
    height: 200px;
}

.filterCardsImageline:before,
.filterCardsImageline:after {
    margin-top: 20px;
    margin-left: 25%;
    content: '';
    display: inline-block;
    width: 50%;
    height: 2px;
    background: #000;
    z-index: -1;
    position: relative;
    vertical-align: middle;
}

.filterCardsWords {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

.filterCardsUL {
    margin-left: 70px;
}