  /* marmin*/
  
  .productMenuBody {
      color: #333333;
      font-family: "Roboto", sans-serif;
      overflow-x: hidden;
      background-image: url("../img/ej3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: relative;
  }
  /*glux*/
  
  header {
      display: flex;
      justify-content: space-between;
  }
  /*glxavor glux*/
  
  .main-header {
      display: flex;
      font-size: 30px;
      justify-content: center;
      color: white;
      margin: 20px;
      padding: 20px;
      margin-top: 60px;
  }
  
  .main-colums {
      margin-top: 40px;
      height: 300px;
      color: white;
      display: flex;
      justify-content: space-evenly;
  }
  
  .cloum-1-price {
      margin: 30px;
      font-size: large;
      text-align: center;
  }
  
  .colums-2 {
      margin-top: 50px;
      width: 184px;
  }
  
  .row-1 {
      font-size: 16px;
  }
  
  .plyus,
  .minus {
      cursor: pointer;
      color: white;
  }
  
  .row-2,
  .row-3 {
      margin-top: 40px;
      width: 80px;
      font-size: 16px;
  }
  
  footer {
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
  }
  
  .addBasketButton {
      cursor: pointer;
      background-color: #77b54e;
      outline: none;
      color: #fff;
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      transition: 0.5s ease;
  }
  
  .peperoni {
      margin: 30px;
  }
  
  .peperoni img {
      height: 180px;
  }
  
  .confirm {
      cursor: pointer;
      transition: all 0.3s ease;
  }
  
  .confirm:hover {
      color: white;
      background-color: #2ecc71;
  }
  /*hamburger */
  /*arrow-back*/
  
  .fa-arrow-left {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-top: 40px;
      margin-left: 30px;
  }