
  .productMenuBody {
      color: #333333;
      font-family: "Roboto", sans-serif;
      overflow-x: hidden;
     background-image: url("../img/ej3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: relative;
  }
   
  
  header {
      display: flex;
      justify-content: space-between;
  }
   
  .main-header {
      display: flex;
      font-size: 50px;
      justify-content: center;
      color: rgb(241, 166, 94);
      margin: 20px;
      padding: 20px;
      margin-top: 60px;
  }
  
  .main-colums {    
      margin-left: 150px;
      margin-top: 40px;
      height: 500px;
      color: rgb(163, 231, 117);
      display: flex;
      justify-content: space-evenly;
  }
  
  .colums-1-price {
      margin-left:15px;
      margin-top: 115px;
      font-size: large;
      text-align: center;
  }
   
  
  .colums-2 {
      margin-left:50px;
      margin-top: 50px;
      width: 184px;
  }

     input{
       margin-top: 5px;
       background-color: rgb(91, 214, 91);
       width: 50px;
       border-radius: 11px;
       cursor: pointer;
   }
   input:hover{
    background-color: white;  
   }
  .row-1 {
      font-size: 25px;
  }
  
   
  
  .row-2,
  .row-3 {
      margin-top: 40px;
      width: 80px;
      font-size: 16px;
  }
  
  footer {
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
  }
  
  .addBasketButton {
      border-radius: 15px;
      cursor: pointer;
      background-color: #75c242;
      outline: none;
      color: #fff;
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      transition: 0.5s ease;
  }
  .addBasketButton:hover {
      background-color: white;
      color:green;
  }
  .addButton{
     width:100%;
     margin-top: 300px;
     margin-left: 500px;
  }
  .peperoni {
      margin: 30px;
  }
  
  .peperoni img {
      height: 180px;
  }
  
  .confirm {
      cursor: pointer;
      transition: all 0.3s ease;
  }
  
  .confirm:hover {
      color: white;
      background-color: #2ecc71;
  }
   
  
  .fa-arrow-left {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-top: 40px;
      margin-left: 30px;
  }