 .table {
     background-image: url("../img/ej1.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     height: 100%;
 }
 
 
 .containerTable {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 50px;
     justify-content: center;
 }
 
 .tables {
     width: 22%;
     height: 50px;
     font-size: 30px;
     background-color: #ffd900;
     color: #FFFFF0;
     border-radius: 30px;
     text-align: center;
     font-weight: 600;
     margin-top: 180px;
 }
 .tables:hover{
    background-color: #f5eec6;
    color:#e66b07;
    cursor: pointer;
    
 }
 
 .connectToTable {
     width: 18%;
     height: 50px;
     font-size: 30px;
     background-color: #2E8B57;
     color: white;
     border-radius: 30px;
     text-align: center;
     font-weight: 600;
 }
 .connectToTable:hover{
    background-color: #97dfb6; 
    color: #192030; 
    cursor: pointer; 
 }
  