body {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
 .main{
      width: 100%;
      height: 80vh;
}
.prop{
  background-color: rgba(255, 255, 255, 0.144) ;
  width: 94%;
  height: 14vh;
  margin-top: 3%;
  margin-left: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 100px;
  justify-content: center;
  align-items: center;
  color:white ;
  font-size: 18px;
}
 .prop >  div{
    background-color: violet;
    width: 150%;
 }
.sum{
    background-color: rgba(255, 255, 255, 0.144) ;
    width: 20%;
    height: 10vh;
    margin-top: 3%;
    margin-left: 55%;
    font-size: 25px;
    font-weight: 500;
    text-align:center;
    color:white;
}
 
.confirm{
    background-color:rgb(97, 216, 97);
    height: 9vh;
    width: 20%;
    border-radius: 30px;
    text-align:center;
    font-size: 30px;
    font-weight: 700;
    margin-left:35%;
    margin-top: 5%;
    color:white;
    cursor: pointer;
}
.confirm:hover {
    background-color: rgb(216, 250, 216);
    color: black
  }
.pizza1Img{
    background-image: url(./images/pizza1.png);
    height:100px; 
    width: 160px;
    background-size: cover;
}
.pizza2Img{
    background-image: url(./images/resize-16426253651557335988pizza2\ \(1\).png);
    height:100px; 
    width: 160px;
    background-size: cover;
}
.pizza3Img{
    background-image: url(./images/pizza3.png);
    height:100px; 
    width: 160px;
    background-size: cover;
}