body {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
 .main{
      width: 100%;
      height: 80vh;
}
.prop{
  background-color: rgba(255, 255, 255, 0.377) ;
  color: grey;
  width: 94%;
  height: 14vh;
  margin-top: 3%;
  margin-left: 3%;
}
.sum{
    background-color: rgba(255, 255, 255, 0.377) ;
    width: 20%;
    height: 10vh;
    margin-top: 3%;
    margin-left: 70%;
}
.confirm{
    width: 18%;
    height: 100px; 
    margin-top: 8%;
    margin-left:40%;
     

}   
.button{
    padding: 22px 15px;
    background-color:rgb(97, 216, 97);
    border-radius: 50%;
    text-align:center;
    width: 280px; 
    font-size: 20px;
}